.button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 0.4em;
}

.project-interact-button {
    font-size: var(--p-font-size);
    color: var(--text);
    border: 0.15em solid;
    border-radius: 1.2em;
    font-weight: bold;
    transition: color 0.3s ease;
    margin: 0.2em;
    padding: 0.5em;
    width: auto;
    padding-left: 1em;
    padding-right: 1em;
    display: flex;
    justify-items: center;
    align-items: center;
    transition:
        background 0.15s ease,
        scale 0.15s ease,
        color 0.15s ease;
}

.play-button {
    border-color: color-mix(in srgb, var(--brand-green), rgb(255, 255, 255));
    background: var(--brand-green-light);
}
.play-button:hover,
.play-button:focus-visible {
    background: color-mix(in srgb, var(--brand-green-light), white 30%);
    scale: 1.1;
}

.use-button {
    border-color: color-mix(in srgb, var(--brand-blue-alt), rgb(240, 240, 240));
    background: var(--brand-blue-light);
}
.use-button:hover,
.use-button:focus-visible {
    background: color-mix(in srgb, var(--brand-blue-light), white 30%);
    scale: 1.1;
}

.github-button {
    background: color-mix(in srgb, var(--brand-purple-light) 80%, var(--bg));
    border-color: var(--brand-purple-alt);
}

.github-button:hover,
.github-button:focus-visible {
    background: color-mix(in srgb, var(--brand-purple-light), white 30%);
    scale: 1.1;
}
