@font-face {
    font-family: "Dirty-Seven";
    src: url("fonts/DirtySevenRegular.ttf") format("truetype");
}

@font-face {
    font-family: "Gasher";
    src: url("fonts/GasherRegular.ttf") format("truetype");
}
