.wave {
    cursor: default;
}

.wave span {
    display: inline-block;
    transform: translate(0, 0, 0);
    color: inherit;

    transition:
        transform 0.2s ease,
        color 0.2s ease;

    transition-delay: calc(var(--i) * 0.01s);
}

.wave:focus-visible span,
.wave:hover span {
    transform: translateY(-0.4em);
    color: var(--accent);
}
